html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(214,214,214,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6', GradientType=1 );
}

body {
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
    width: 500px;
    height: 600px;
    background: white;
    /* border: 1px solid #b8b7b7; */
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
}
.upper {
    width: 100%;
    height: 200px;
    background: linear-gradient(
        rgba(62, 102, 128, 0.45), 
        rgba(62, 102, 128, 0.45)
      ), 
      url(img/pic01.jpg);
    /* background: #3e6680; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid transparent;
}
.image-text {
    margin-top: -110px;
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
}
.image{
    width: 150px;
    height: 150px;
    background: white;
    border: 5px solid #3e6680;
    border-radius: 50%;  
}
.upper-text {
    margin-left: 15px;
}
.upper-text h4 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: white;
}
.upper-text p {
    color: rgb(207, 205, 205);
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.middle {
    margin: 20px 30px
}
.middle h4 {
    line-height: normal;
    margin: 0;
}
.middle p {
    margin: 0;
    border-bottom: 1px solid rgb(207, 205, 205);
    padding-bottom: 8px;
    padding-top: 8px;
}
.skills {
    font-size: 12px;
}
span {
    color: rgb(156, 156, 156); 
}
.social {
    margin: 30px 30px;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 10px;
    font-size: 30px;
    color: #3e6680;
}
.social i {
    cursor: pointer;
}